<h1>Books</h1>

<% @books.each do |book| %>

    <p>Title</p>
    <span>
        <%= link_to book.title, book_path(book.id) %>
    </span>

    <p>Body</p>
    <span>
        <%= link_to book.body, book_path(book.id) %>
    </span>

<% end %>

<% @books.each do |book| %>
    <%= link_to "Show", book_path(book) %>
    <%= link_to "Edit", edit_book_path(book) %>
    <%= link_to "Destroy", book_path(book),method: :delete, "data-confirm" => "Are you sure?" %>
<% end %>

